html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.navbar-top {
    min-height: 10px;
    height: 20px;
    background-color: #E1E8E8;
}

.navbar-main {
    background-color: #F5FCFC;
}


.cart-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.cart-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #E6F0F0;
    z-index: 10;
    padding: 10px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 5px;
}

.wrapper .wrapper-content {
    height: 100px;
    line-height: 100px;
}

.wrapper footer {
    margin-top: auto;
    height: 100px;
    line-height: 100px;
    background-color: white;
}


.section-top{
    margin: 20px;
}

.product-description-tabs{
    padding: 10px;
}

.product-item{
    height: 500px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding 10px 0 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.add-to-cart-bin{
    position: absolute;
    bottom: 15px;
    left: 50px;
}

.discount-container{
position: absolute;
    top: 40%;
    background: #5cb85c;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px
}

.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.product_image_item{
    padding: 5px;
    margin-bottom: 5px;
}

.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
